<div class="row pb-3">
  <div class="col">
    <!-- Skills card -->
    <div class="card">
      <!-- Card heading -->
      <div class="card-header" id="abilities-table-heading">
        <button class="btn btn-lg btn-block" type="button" data-toggle="collapse" data-target="#abilities-table" aria-expanded="true" aria-controls="abilities-table">
          <h3 class="mb-0 text-left">
            Character Stats
          </h3>
        </button>
      </div>
      <!-- Card body -->
      <div id="abilities-table" class="collapse show" area-labelledby="abilities-table-heading">
        <div class="card-body">
          <div class="row pb-2">
            <div class="col">
              <ul class="list-group list-group-horizontal-lg">
                <li class="list-group-item flex-fill">
                  <i class="far fa-shield"></i>
                  Armor class: {{ page.character_info.armor_class }}
                </li>
                <li class="list-group-item flex-fill">
                  <i class="fas fa-heart"></i>
                  Max health: {{ page.character_info.max_health }}
                </li>
                <li class="list-group-item flex-fill">
                  <i class="fal fa-rabbit-fast"></i>
                  Speed: {{ page.character_info.speed }}
                </li>
                <li class="list-group-item flex-fill">
                  <i class="fal fa-ruler-vertical"></i>
                  Size: {{ page.character_info.size }}
                </li>
                {% if page.character_info.spellcasting %}
                  {% assign casting_ability = page.character_info.casting_ability %}
                  {% assign ability_mod = page.character_info.abilities[casting_ability] | minus: 10 | divided_by: 2 | floor %}
                  <li class="list-group-item flex-fill">
                    {% assign spell_mod = ability_mod | plus: page.character_info.proficiency_bonus | plus: page.character_info.spell_attack_bonus %}
                    <i class="fad fa-wand-magic"></i>
                    Spell atk modifier: {{ spell_mod }}
                  </li>
                  <li class="list-group-item flex-fill">
                    {% assign spell_save_dc = ability_mod | plus: page.character_info.proficiency_bonus | plus: 8 %}
                    <i class="fad fa-hand-holding-magic"></i>
                    Spell save DC: {{ spell_save_dc }}
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col">
              {% include ability_table.html %}
            </div>
          </div>

          <div class="row">

            <div class="col">
              {% include skills_list.html %}
            </div>

            <div class="col">
              <div class="row pb-2">
                <div class="col">
                  {% include saving_throws_list.html %}
                </div>
              </div>

              {% if page.character_info.other_proficiencies %}
              <div class="row">
                <!-- other_proficiencies -->
                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item bg-dark text-light">
                      <h5>Other Proficiencies</h5>
                    </li>
                    {% for prof in page.character_info.other_proficiencies %}
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ prof | capitalize }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              {% endif %}

            </div>

          </div>

        </div> <!-- End card body -->
      </div> <!-- End collapse-able -->
    </div> <!-- End abilities card -->
  </div> <!-- End column -->

</div> <!-- End row -->