<div class="row pb-3">
  <div class="col">
    <!-- Card -->
    <div class="card">
      <!-- Card heading -->
      <div class="card-header" id="features-card-header">
        <button class="btn btn-lg btn-block" type="button" data-toggle="collapse" data-target="#features-card" aria-expanded="true" aria-controls="features-card">
          <h3 class="mb-0 text-left">
            <i class="fal fa-sparkles"></i> Features
          </h3>
        </button>
      </div>
      <!-- Card body -->
      <div id="features-card" class="collapse show" area-labelledby="features-card-header">

        <div class="card-body">

          <!-- List out class features -->
          {% assign class_features = site.data.features.class[page.character_info.class] %}
          {% for feature in page.character_info.class_features %}
            {% if class_features contains feature %}
              {% assign feature_info = class_features[feature] %}
              {% assign feature_id = feature | replace: ' ', '-' %}
                <div class ="card mb-2">
                  <div class="card-body" id="{{ feature_id }}">
                    <h5 class="card-title">{{ feature | capitalize }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Class Feature</h6>
                    {{ feature_info['description'] | markdownify }}
                  </div>
                </div>
              {% else %}
                <div class ="card mb-2">
                  <div class="card-body" id="none">
                    <h5 class="card-title">{{ feature | capitalize }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Class Feature</h6>
                    <p>Feature not found.</p>
                  </div>
                </div>
            {% endif %}
          {% endfor %}

          <!-- List out racial features -->
          {% assign racial_features = site.data.features.racial[page.character_info.race] %}
          {% for feature in page.character_info.racial_features %}
            {% if racial_features contains feature %}
              {% assign feature_info = racial_features[feature] %}
              {% assign feature_id = feature | replace: ' ', '-' %}
                <div class ="card mb-2">
                  <div class="card-body" id="{{ feature_id }}">
                    <h5 class="card-title">{{ feature | capitalize }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Racial Feature</h6>
                    {{ feature_info['description'] | markdownify }}
                  </div>
                </div>
              {% else %}
                <div class ="card mb-2">
                  <div class="card-body" id="none">
                    <h5 class="card-title">{{ feature | capitalize }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Racial Feature</h6>
                    <p>Feature not found.</p>
                  </div>
                </div>
            {% endif %}
          {% endfor %}

          <!-- List out background features -->
          {% assign background_features = site.data.features.background[page.character_info.background] %}
          {% for feature in page.character_info.background_features %}
            {% if background_features contains feature %}
              {% assign feature_info = background_features[feature] %}
              {% assign feature_id = feature | replace: ' ', '-' %}
                <div class ="card mb-2">
                  <div class="card-body" id="{{ feature_id }}">
                    <h5 class="card-title">{{ feature | capitalize }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Background Feature</h6>
                    {{ feature_info['description'] | markdownify }}
                  </div>
                </div>
              {% else %}
                <div class ="card mb-2">
                  <div class="card-body" id="none">
                    <h5 class="card-title">{{ feature | capitalize }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Background Feature</h6>
                    <p>Feature not found.</p>
                  </div>
                </div>
            {% endif %}
          {% endfor %}

          <!-- List out custom features -->
          <!-- TODO -->

        </div> <!-- End card body -->
      </div> <!-- End collapse-able -->
    </div> <!-- End card -->
  </div> <!-- End column -->
</div> <!-- End row -->