<div class="row pb-3">
  <div class="col">
    <!-- Card -->
    <div class="card">
      <!-- Card heading -->
      <div class="card-header" id="inventory-card-heading">
        <button class="btn btn-lg btn-block" type="button" data-toggle="collapse" data-target="#inventory-card" aria-expanded="true" aria-controls="inventory-card">
          <h3 class="mb-0 text-left">
            <i class="fal fa-backpack"></i> Inventory
          </h3>
        </button>
      </div>
      <!-- Card body -->
      <div id="inventory-card" class="collapse" area-labelledby="inventory-card-heading">
        <div class="card-body">
          <!-- Money -->
          <!-- -->
          <ul class="list-group">
            {% for category in page.character_info.inventory %}
              <li class="list-group-item bg-dark text-light">
                <h5>{{ category[0] | capitalize }}</h5>
              </li>
              {% assign items = category[1] %}
              {% for item in items %}
                <li class="list-group-item justify-content-between align-items-center">
                  {{ item['item'] | capitalize }}
                  {% if item contains 'quantity' %}
                    <span class="badge badge-warning">{{ item['quantity'] }}</span>
                  {% endif %}
                  <!-- todo search for default description -->
                  {% if item contains 'description' %}
                    <hr/>
                    {{ item['description'] | markdownify }}
                  {% elsif site.data.items contains item['item'] %}
                    <hr/>
                    {{ site.data.items[item['item']]['description'] | markdownify }}
                  {% endif %}
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div> <!-- End card body -->
      </div> <!-- End collapse-able -->
    </div> <!-- End card -->
  </div> <!-- End column -->
</div> <!-- End row -->