<div class="row pb-3">
  <div class="col">
    <!-- Card -->
    <div class="card">
      <!-- Card heading -->
      <div class="card-header" id="journal-card-heading">
        <button class="btn btn-lg btn-block" type="button" data-toggle="collapse" data-target="#journal-card" aria-expanded="true" aria-controls="journal-card">
          <h3 class="mb-0 text-left">
            <i class="fal fa-book"></i> Journal
          </h3>
        </button>
      </div>
      <!-- Card body -->
      <div id="journal-card" class="collapse" area-labelledby="journal-card-heading">
        <div class="card-body">
          {{ content }}
        </div> <!-- End card body -->
      </div> <!-- End collapse-able -->
    </div> <!-- End card -->
  </div> <!-- End column -->
</div> <!-- End row -->