<div class="row pb-3">
  <div class="col">
    <!-- Card -->
    <div class="card">
      <!-- Card heading -->
      <div class="card-header" id="persona-card-heading">
        <button class="btn btn-lg btn-block" type="button" data-toggle="collapse" data-target="#persona-card" aria-expanded="true" aria-controls="persona-card">
          <h3 class="mb-0 text-left">
            Persona
          </h3>
        </button>
      </div>
      <!-- Card body -->
      <div id="persona-card" class="collapse show" area-labelledby="persona-card-heading">
        <div class="card-body">

        </div> <!-- End card body -->
      </div> <!-- End collapse-able -->
    </div> <!-- End card -->
  </div> <!-- End column -->
</div> <!-- End row -->