<nav id="sidebar" class="text-white  bg-dark">

  <div class="sidebar-header">
    <h3>{{ site.title }}</h3>
  </div>

  <!-- todo - use actual menu items, fill out dropdowns with characters, etc! -->

  <ul class="list-unstyled components">
    <p>Navigation</p>

    <li>
      <a href="#" class="text-light">
        <i class="far fa-book-spells"></i>
        Adventure Logs
      </a>
    </li>

    <li>
      <a href="#charSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-light">
        <i class="far fa-portrait"></i>
        Player Characters
      </a>
      <!-- todo - pretty this up (with icons?) -->
      <ul class="collapse list-unstyled" id="charSubmenu">
        {% for char in site.characters %}
        <li>
          <a href="{{ site.url }}/characters/{{ char.title }}" class="text-light">{{ char.character_info.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="#" class="text-light">
        <i class="far fa-treasure-chest"></i>
        Session Notes
      </a>
    </li>

    <li>
      <a href="#" class="text-light">
        <i class="fas fa-dungeon"></i>
        World Info
      </a>
    </li>

  </ul>

</nav>