---
layout: default
---

{% if page.character_info %}


<div class="jumbotron bg-white">
  <h1>{{ page.character_info.name }}</h1>
  <hr>
  <div class="row">
    <div class="p-1">
      <span class="badge badge-info">
        Class: {{ page.character_info.class }}
      </span>
    </div>
    <div class="p-1">
      <span class="badge badge-info">
        Level: {{ page.character_info.level }}
      </span>
    </div>
    <div class="p-1">
      <span class="badge badge-info">
        Race: {{ page.character_info.race }}
      </span>
    </div>
    <div class="p-1">
      <span class="badge badge-info">
        Alignment: {{ page.character_info.alignment }}
      </span>
    </div>
  </div>
</div>

  <!-- <div class="row">

  </div>
</div> -->

<div class="row">
  <div class="col-11">
    <div class="" id="stats">
      {% include character_info_stats.html %}
    </div>

    <div id="features">
      {% include character_info_features.html %}
    </div>

    <div id="spells">
      {% include character_info_spells.html %}
    </div>

    <div id="inventory">
      {% include character_info_inventory.html %}
    </div>

    <div id="journal">
      {% include character_info_journal.html %}
    </div>

  </div>

  <div class="col-1 float-right ">
    <ul class="list-group sticky-top">
      <li class="list-group-item border-0">
        <span>
          <a href="#stats"><i class="fal fa-analytics"></i></a>
        </span>
      </li>
      <li class="list-group-item border-0">
        <a href="#features"><i class="fal fa-sparkles"></i></a>
      </li>
      <li class="list-group-item border-0">
        <a href="#spells"><i class="fad fa-wand-magic"></i></a>
      </li>
      <li class="list-group-item border-0">
        <a href="#inventory"><i class="fal fa-backpack"></i> </a>
      </li>
      <li class="list-group-item border-0">
        <a href="#journal"><i class="fal fa-book"></i></a>
      </li>
    </ul>
  </div>
</div>


<br/>

{% endif %}
